body {
  font-family: Arial;
  text-align: center;
  padding: 40px;
}

/* HOME PAGE */
.home {
  background-color: #e3f2fd;
}

/* TEST PAGE */
.test {
  background-color: #fff3e0;
}

/* RESULT PAGE */
.result {
  background-color: #e8f5e9;
}

h1, h2, h3 {
  color: #2c3e50;
}

button {
  padding: 15px 30px;
  font-size: 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0d47a1;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin: 8px;
  padding: 10px;
  border-radius: 5px;
}
/* NAVBAR */
.navbar {
  background: #0d47a1;
  padding: 15px;
}

.navbar a {
  color: white;
  margin: 15px;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

/* CAREER CARDS */
.card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


